/* Estilos para el logo */
.logo {
    width: 35px;
}

/* Estilos para el título del sistema */
.erp-title {
    color: #22c55e;
}

/* Estilos para el contenedor principal del sidebar */
.sidebar-container {
    background-color: #121212;
    margin: 0;
    padding: 0;
}

/* Seleccionamos el botón de PrimeNG específicamente */
:host ::ng-deep .p-button {
    position: fixed !important;
    top: 1rem !important; /* Separar ligeramente del borde superior */
    left: 1rem !important; /* Separar del borde izquierdo */
    z-index: 1100 !important; /* Por encima de las cards */
    margin: 0 !important;
    border-radius: 0 0 12px 0 !important; /* Solo redondea la esquina interna */
    padding: 1rem !important;
    height: 3rem;
}

